<!-- build:js(.) /assets/vendor.min.js -->

  <script src="/vendor/jquery/jquery.js"></script>

  <!-- @if dist=false -->
  <script src="/vendor/handlebars/handlebars.js"></script>
  <script src="/vendor/ember/ember.js"></script>
  <!-- @endif -->
  <!-- @if dist=true -->
  <script src="/vendor/handlebars/handlebars.runtime.js"></script>
  <script src="/vendor/ember/ember.prod.js"></script>
  <!-- @endif -->

<!-- endbuild -->

<!-- build:js(tmp/public) /assets/main.min.js -->

  <script src="/assets/main.js"></script>

<!-- endbuild -->
</body>
</html>