<div class="bottom-menu bottom-menu-large">
  <div class="container">
    <div class="row">
      <h3>Find out how we can help your business.</h3><a href="mailto:hello@wrktg.com" class="btn btn-danger contact-us">CONTACT US</a>
    </div>
  </div>
</div>