<!-- build:js(.) /assets/vendor.min.js -->

  <script src="/vendor/jquery/jquery.js"></script>

  <!-- @if dist=false -->
  <script src="/vendor/handlebars/handlebars.js"></script>
  <script src="/vendor/ember/ember.js"></script>
  <!-- @endif -->
  <!-- @if dist=true -->
  <script src="/vendor/handlebars/handlebars.runtime.js"></script>
  <script src="/vendor/ember/ember.prod.js"></script>
  <!-- @endif -->

  <script src="/vendor/hammerjs/dist/jquery.hammer.js"></script>
  <script src="/vendor/jquery.transit/jquery.transit.js"></script>
  <script src="/vendor/perfect-scrollbar/src/jquery.mousewheel.js"></script>
  <script src="/vendor/perfect-scrollbar/src/perfect-scrollbar.js"></script>
<!-- endbuild -->

<!-- build:js(tmp/public) /assets/main.min.js -->
  
  <script src="/assets/main.js"></script>

<!-- endbuild -->
</body>
</html>