extends layout
include mixins

block content
  .intro
    .container
      .row
        .title 
          h1 We Create 
            span.app
              = "Browser Apps"
            = " that Make Content More Engaging."
      .row.browser-app    
        img(src='assets/images/browser.png')

  section
    .container
      .row.browser
        img(src='assets/images/browsers.png')
        h2 Why Browser Apps?
        p By moving all of the business logic to the browser you become 
          | less relient on the back-end infrastructure. We can create new
          | user experience that wasn’t possible before. 
        p.black We’ve compiled a list of notable examples from across the web.  
        button.btn.btn-danger.case-study(type='button') Case Studies

    hr

  section
    .container.products
      .row.centered.pvl
        img(src='assets/images/apps.png')
        h2 How can we help?
      .row.centered
        img(src='assets/images/options.png')   
      .row.product
        .col-md-4.well 
            img(src='assets/images/browser-app.png')   
            h3 Inject a Widget
            p We can add an app inside of your existing site.
        .col-md-4.well 
            img(src='assets/images/widget.png')
            h3 Rebuild your site as a browser app
            p  The front-end built as a browser app irrespective of your current back-end infrastructure.   
        .col-md-4.well  
            img(src='assets/images/new-product.png')
            h3 Create a new browser app
            p We can work together to build an entirely new well-architected browser app.

  include footer

