{{>head}}
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="title"> 
        <h1>We Create <span class="app">Browser Apps</span> <span>that Make Content More Engaging.</span></h1>
      </div>
    </div>
    <div class="row browser-app">   <img src="assets/images/browser.png"/></div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row browser"><img src="assets/images/browsers.png"/>
      <h2>Why Browser Apps?</h2>
      <p>
        By moving all of the business logic to the browser you become 
        less relient on the back-end infrastructure. We can create new
        user experience that wasn’t possible before. 
      </p>
      <p class="black">We’ve compiled a list of notable examples from across the web.  </p>
      <button type="button" class="btn btn-danger case-study">Case Studies</button>
    </div>
  </div>
  <hr/>
</section>
<section>
  <div class="container products">
    <div class="row centered pvl"><img src="assets/images/apps.png"/>
      <h2>How can we help?</h2>
    </div>
    <div class="row centered"><img src="assets/images/options.png"/></div>
    <div class="row product">
      <div class="col-md-4 well"> <img src="assets/images/browser-app.png"/>
        <h3>Inject a Widget</h3>
        <p>We can add an app inside of your existing site.</p>
      </div>
      <div class="col-md-4 well"> <img src="assets/images/widget.png"/>
        <h3>Rebuild your site as a browser app</h3>
        <p> The front-end built as a browser app irrespective of your current back-end infrastructure.   </p>
      </div>
      <div class="col-md-4 well"> <img src="assets/images/new-product.png"/>
        <h3>Create a new browser app</h3>
        <p>We can work together to build an entirely new well-architected browser app.</p>
      </div>
    </div>
  </div>
</section>
{{>footer-menu}}
{{>footer}}