header.navbar.navbar-inverse(role='banner')
    .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='../../') WRKTG
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
          ul.nav.navbar-nav
            li
              a(href='../../team/') Team
            li
              a(href='../../method/') How We Work
            li
              a(href='../../values/') Values
            li
              a(href='mailto:hello@wrktg.com') Hire Us
            li
              a(href='../../blog/') Blog

