{{>head}}
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="title"> 
        <h1>We specialize in building browser apps</h1>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/browsers.png"/>
        <h2>Why Browser Apps?</h2>
        <p>
          By moving all of the business logic to the browser you become 
          less relient on the back-end infrastructure. We can create new
          user experience that wasn’t possible before.
      </div>
      <div class="col-md-4">
        <img src="assets/images/browsers.png"/>
        <h2>Why Browser Apps?</h2>
        <p>
          By moving all of the business logic to the browser you become 
          less relient on the back-end infrastructure. We can create new
          user experience that wasn’t possible before.
      </div>
      <div class="col-md-4">
        <img src="assets/images/browsers.png"/>
        <h2>Why Browser Apps?</h2>
        <p>
          By moving all of the business logic to the browser you become 
          less relient on the back-end infrastructure. We can create new
          user experience that wasn’t possible before.
      </div>
    </div>
  </div>
</section>
{{>footer}}