extends layout
include mixins

block content
	.container.profiles
		.row
			.col-md-6
				.well
					.row.profile
						img(src='images/TMankovski.jpeg', alt='Taras Mankovski')	
						h2 Taras Mankovski
						i.fa.fa-twitter-square
						i.fa.fa-github-square
						i.fa.fa-linkedin-square	
					.row
						p Javascript Engineer with focus on UX/UI. Highly enthusiastic about NoSQL databases and everything related to JSON as a Data exchange format. Ember.js expert and community supporter, find me on stackoverflow.com under intuitivepixel.		

								
			
			.col-md-6
				.well
					.row.profile
						img(src='images/ADAquino.jpeg', alt='Alessandro DAquino')
						h2 Alessandro D'Aquino
						i.fa.fa-twitter-square
						i.fa.fa-github-square
						i.fa.fa-linkedin-square
					.row
						p Javascript Engineer with focus on UX/UI. Highly enthusiastic about NoSQL databases and everything related to JSON as a Data exchange format. Ember.js expert and community supporter, find me on stackoverflow.com under intuitivepixel.		
		.row
			
			.col-md-6
				.well
					.row.profile
						img(src='images/MLuskind.jpg', alt='Michael Luskind')
						h2 Michael Luskind
						i.fa.fa-twitter-square
						i.fa.fa-linkedin-square
					.row
						p Javascript Engineer with focus on UX/UI. Highly enthusiastic about NoSQL databases and everything related to JSON as a Data exchange format. Ember.js expert and community supporter, find me on stackoverflow.com under intuitivepixel.		
	
			.col-md-6
				.well
					.row.profile
						img(src='images/TBell.jpg', alt='Thomas Bell')
						h2 Thomas Bell
						i.fa.fa-twitter-square
						i.fa.fa-linkedin-square
					.row
						p Javascript Engineer with focus on UX/UI. Highly enthusiastic about NoSQL databases and everything related to JSON as a Data exchange format. Ember.js expert and community supporter, find me on stackoverflow.com under intuitivepixel.		

		.row
			.col-md-6
				.well
					.row.profile
						img(src='images/GTesfay.jpg', alt='Gabriella Tesfay')
						h2 Gabriella Tesfay
					.row
						p Javascript Engineer with focus on UX/UI. Highly enthusiastic about NoSQL databases and everything related to JSON as a Data exchange format. Ember.js expert and community supporter, find me on stackoverflow.com under intuitivepixel.		

