.hire-us{
	.intro{
		background: #005380;
    	box-shadow: 0 1px 8px @midnight-blue;
    	color: #fff;

		.title{
		  padding: 40px 0;
		  margin: 0 auto;
		  max-width: 800px;
		  text-align: center;
		}
	}

	h2{
    	font-size: 25px;
  	}

  	p{
    	font-size: 14px;
  	}
}

